{% extends 'base.html.twig' %}

{% block title %}Accueil - Sym-recipe{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Sym-Recipe</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ipsam odit deleniti amet illo enim, a cupiditate eligendi dolorem adipisci.</p>
            <hr class="my-4">
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, perferendis!</p>
            <p class="lead">
                <a href="#" class="btn btn-primary btn-lg">Inscriptions</a>
                <a href="" class="coucou"></a>
            </p>
        </div>
    </div>
{% endblock %}
